
{{ $install_packages := promptBool "Install packages? " false -}}
[data]
install_packages={{ $install_packages }}

{{ if $install_packages }}
[hooks.init.post]
    command = ".local/share/chezmoi/.bootstrap-pacapt.sh"
{{ end -}}

