#!/bin/bash

# if not .install_packages is true then exit
{{ if not .install_packages }}
    exit 0
{{ end }}

{{ if eq .OS "linux" }}
    if [[ $EUID -ne 0 ]]; then
        echo "This script must be run as root or with sudo privileges" 
        exit 1
    fi
    pacapt -Sy
    {{ range .packages.linux}}
        pacapt -S {{.}}
    {{ end }}
{{ end }}
